<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.android_lab3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InformationActivity" />

        <receiver android:name=".StaticReceiver"
            android:exported="true">/*接收器名字和设置为可被其他应用的组建启动*/
            <intent-filter>
                <action android:name="RECOMMEND_GOODS"></action>/*动作名字*/
            </intent-filter>
        </receiver>
    </application>

</manifest>